bcp47-picker {
  position: relative;
  width: auto;

  .hidden {
    display: none;
  }

  .bcp47-search.form-control {
    min-width: 330px !important;
  }

  .bcp47-results {
    position: absolute;
    z-index: 12;
    min-width: 300px;
    right: 0;
    top: 42px;
  }

  .type-dropdown {
    flex: 0 0 140px !important;
  }
}